body{
	margin:0;
	padding:0;
	background-color:white;
}
.underlined{
	text-decoration:underline;
}
#wholepage{
	background-color:#EEECE1;
	height:auto;
}
header{
	height:22px;
	background-color:#EEECE1;
}
#call{
	float:right;
	font-family:Baskerville Old Face;
	color:blue;
	margin-right:15px;
	margin-top:5px;
}
#callimg{
	width:16px;
	margin-top:5px;
	float:right;
	margin-right:5px;
}
#mail{
	color:blue;
	font-family:Baskerville Old Face;
	float:right;
	margin-right:58px;
	margin-top:5px;
}
#mailimg{
	width:16px;
	height:15px;
	float:right;
	margin-top:5px;
	margin-right:5px;
}
#logo{
	width:220px;
	height:175px;
	float:left;
	position:static;
}
#topbg{
	background-color:yellow;
	margin-top:-40px;
	height:175px;
	width:auto;
	border-bottom:10px solid red;
}
#nns{
	font-family:Arial Black;
	font-size:47px;
	text-align:center;
	color:red;
	padding-top:2px;
}
#reco{
	font-family:Agency FB;
	text-align:center;
	color:#0070C0;
	margin-top:-52px;
	font-size:22px;
}
#inc{
	font-family:Yu Gothic;
	text-align:center;
	color:black;
	margin-top:-21px;
	font-size:18px;
}
#rims{
	font-family:Yu Gothic;
	text-align:center;
	color:black;
	margin-top:-21px;
	font-size:18px;
}
#dhm{
	font-family:Yu Gothic;
	text-align:center;
	color:black;
	margin-top:-21px;
	font-size:18px;
}
#menubar-container{
	background-color:#00B0F0;
	width:100%;
	position:relative;
}
#menubar{
	width:1000px;
	margin:0 auto;
	height:43px;
}
#menubar a{
	color:white;
	font-family:Calibri;
	text-decoration:none;
	padding:0 25px;
	border-right: 3px solid white;
	font-size:22px;
	position:relative;
	top:8px;
}
#ali{
	text-align:center;
}
.no-border{
	border:none !important;
}
#homeimg{
	width:100%;
	height:150px;
	position:static;
}
#himg{
	margin-left:40px;
	margin-right:40px;
}
#aboutanm{
	margin-left:150px;
	margin-right:150px;
}
#h{
	font-family:Calibri;
	text-align:center;
	color:red;
	font-size:26px;
	margin-bottom:35px;
}
#points{
	font-family:Calibri;
	margin-left:123px;
	margin-right:150px;
}
.liste{
	font-family:Calibri;
	color:red;
	font-size:13px;
}
.defi{
	font-family:Calibri;
	text-align:justify;
	margin-left:35px;
	
}
ul{
	font-size:12px;
}
#note{
	font-family:Calibri;
	color:red;
	font-size:15px;
}
#uniform{
	font-family:Calibri;
	color:red;
	font-size:12px;
	margin-top:-8px;
	margin-bottom:8px;
}
#download{
	font-family:Calibri;
	color:red;
	font-size:25px;
	margin-left:123px;
	margin-right:150px;
}
#form{
	font-family:Calibri;
	color:green;
}
#dow {
	color:green;
}

#more{
	font-family:Calibri;
	color:red;
	font-size:15px;
	margin-left:123px;
	margin-right:150px;
	text-align:justify;
}
#last{
	width:100%;
	height:230px;
	background-color:#181819;
	margin-top:80px;
}
#contactinfo{
	text-align:center;
	color:white;
	font-size:35px;
	padding-top:20px;
}
.down{
	color:#80CD33;
	text-align:left;
	margin-left:220px;
	font-size:20px;
}
#ne{
	color:#80CD33;
	font-size:20px;
	margin-top:-10px;
	margin-left:560px;
}
#cll{
	margin-top:-10px;
}
#add{
	margin-top:-10px;
}
#developer{
	width:auto;
	margin-top:-8px;
	height:27px;
	background-color:black;
	position:static;
	padding-top:5px;
	color:#919191;
	font-family:open sans;
	padding-left:25px;
}
#copyrite{
	float:left;	
}
#dev{
	float:right;
	margin-top:-18px;
	margin-right:28px;
}
#de{
	color:white;
}













